/* Sidebar container */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: var(--dark);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    color: white;
}

/* Close button */
.sidebar .closebtn {
    font-size: 20px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}

.sidebar div {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

/* Sidebar content */
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .cart-item {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sidebar .cart-item p {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.sidebar .remove-btn {
    font-size: 24px;
    color: red;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.sidebar .remove-btn:hover {
    color: darkred;
}

.sidebar button {
    width: 95%;
}

.checkout-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 40px; /* Increased padding for a larger modal */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increased box shadow for better visibility */
    z-index: 1000;
    width: 70%;  /* Increase width for a larger modal */
    max-width: 600px; /* Max width to prevent modal from being too wide */
    height: auto; /* Adjust height based on content */
    overflow-y: auto; /* Scroll if content overflows */
}

.checkout-modal h2 {
    color: #ffcc00;  /* Color the header as per your design */
    text-align: center; /* Center the header */
    font-size: 2rem; /* Adjust font size */
    margin-bottom: 20px;
}

.checkout-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Increased gap between form elements */
}

.checkout-modal label {
    color: white; /* Set label text color to white */
    font-size: 1.2rem; /* Adjust label font size */
}

.checkout-modal input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc; /* Light border for inputs */
}

.checkout-modal button {
    margin-top: 15px;
    margin-right: 13px;
    padding-right: 15px;
}