header {
    background: var(--navbar-color);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    color: var(--light);
    margin: 10px 10px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-shadow: 1px 0 0 currentColor;
}